<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="main"> 

     <div class="load">B</div>
     <div class="load">I</div>
     <div class="load">E</div>
     <div class="load">N</div>
     <div class="load">V</div>
     <div class="load">E</div>
     <div class="load">N</div>
     <div class="load">I</div>
     <div class="load">D</div>
     <div class="load">0</div>

  </div>

  <div class='container'>
  <!--..............................................-->
  <div class="buttonR-M">
     <div class="tituloCartula"><h2>Rompecabezas</h2></div>
     <img src="/img/rompecabezas.png" class='caratula'>
  	<button onclick="goR()">Jugar</button>
  </div>

  <div class="buttonR-M">
  	<div class="tituloCartula"><h2>Memoria</h2></div>
     <img src="/img/memoria.png" class='caratula'>
  	<button onclick="goM()">Jugar</button>
  </div>

  </div>

<script type="text/javascript">
	function goR(){
		window.location.href='/rompecabezas'
	}
	function goM(){
		window.location.href='/memoria'
	}
</script>
</body>
</html>